#msg_area {
    height: 50vh !important;
    display: block;
    background-color: #F5F5F5;
    overflow: auto;
    border-radius: 10px;
    padding: 20px;
}

#msg_area > p {
    font-size: x-large;
}

#warning {
    margin-bottom: 10px;
}

.hello_message {
    margin: 1px;
}

/*
.right {
    float: right;
    white-space: nowrap;
}
*/
/*
.user_display {
    font-weight: bold;
}

.time {
    font-weight: lighter;
    font-size: small;
}

.chat {
    font-family: monospace;
}
*/