#msg_area {
    height: 50vh !important;
    display: block;
    background-color: #F5F5F5;
    overflow: auto;
    border-radius: 10px;
    padding: 20px;
}

#msg_area > p {
    font-size: x-large;
}

.user_display {
    font-weight: bold;
}

.time {
    font-weight: lighter;
    font-size: small;
}

.chat {
    font-family: monospace;
}
