<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Flack</title>
</head>
<body>
    <head>
        <h1>Flack</h1>
    </head>
    <section>
        <div class="column">
            <h2>Message on Channel</h2>
            <div id="msg_area">
            </div>
            <div>
                <textarea placeholder="Type message.."></textarea>
                <button>Send</button>
            </div>
        </div>
            
        <div class="column">
            <h2 class="subtitle">Channels</h2>
            <div id="greet">
            </div>

            <form id="create_username">
                <p>
                    <input id="new_username" type="text" placeholder="Insert ypur username">
                </p>
                <p>
                    <input type="submit" value="Create username">
                </p>
            </form>
            <br>
            <form id="create_channel">
                <p>
                    <input id="channel" type="text" placeholder="Add channel">
                </p>
                <p class="control">
                    <input type="submit" value="+">
                </p>
            </form>
            <br>
            <div id="ch_list">
                <p>
                    Channel List
                </p>
                <a id="ch_panel">
                    # minireset.css
                </a>
            </div>
            <br>
            <button id="delete_data">Delete data</button>
        </div>
    </section>
</body>
</html>