<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flack beta</title>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.js') }}">
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Flack App</h1>

            <div class="columns">
                <div class="column is-two-thirds">
                    <h2 class="subtitle">Message on Channel</h2>
                    <div id="msg_area">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore nulla nobis animi illum repudiandae assumenda accusamus ex labore similique corrupti doloribus repellat tempora dolore, esse culpa. Placeat ducimus temporibus praesentium.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, quia mollitia adipisci debitis, deleniti est eaque placeat in dolorum dolor provident possimus, deserunt eius illum iure non nulla voluptas delectus.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis eius inventore, ipsa fugit accusamus architecto praesentium. Animi aliquam aperiam, quae eligendi architecto accusamus reiciendis officiis. Debitis deserunt quia rem autem.
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum eius accusantium, expedita voluptas adipisci laborum. Minus nemo quibusdam ratione omnis ipsa fugiat sint laudantium fuga, dolore doloremque officiis, expedita quo!
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe autem ipsam nisi, culpa vero id dignissimos quos perspiciatis corrupti ipsa asperiores enim voluptatem repellat nostrum? Voluptas doloremque voluptatem consequuntur nam!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non eaque tenetur iure, inventore, commodi aperiam fugiat quod nostrum alias asperiores corrupti, sequi neque doloremque expedita dicta magni quam. Provident, aspernatur.
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed id aut maiores molestias nemo, consequuntur aperiam sit voluptates cum atque exercitationem dolore itaque perferendis enim doloribus voluptatem doloremque minus omnis.
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis tempora, exercitationem praesentium minus quo iusto possimus? Dignissimos accusamus omnis, fuga porro laboriosam, in similique, ipsam quisquam labore excepturi nam deleniti.
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae qui, sit placeat nam numquam magnam ullam at asperiores id quidem consequuntur hic, aspernatur officia est quisquam ratione voluptates et eos.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi sit molestiae explicabo, consequuntur autem dolorem beatae at aspernatur suscipit quae laudantium vitae a recusandae pariatur? Magni vel nam repellendus dicta.
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur, ratione tempora necessitatibus vel repudiandae culpa voluptas molestiae, odit totam blanditiis, eum earum amet commodi? Nisi possimus sint sed porro ipsum.
                        Accusamus at ab, nemo unde officia, eligendi perspiciatis delectus amet sit fugit nostrum iure, dignissimos maiores doloremque quam harum saepe non assumenda voluptatum doloribus dolores. Aspernatur ex saepe repellendus magni.
                        Accusantium pariatur quidem a alias rem cum expedita velit iste saepe consectetur? Dicta architecto placeat autem reiciendis fugiat vitae soluta sunt, explicabo aspernatur, rerum laboriosam necessitatibus eius quo temporibus minima.

                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum doloribus qui dolores, deleniti libero recusandae, aliquid facilis laboriosam autem dolorem fuga quas unde minima nisi praesentium quaerat enim corrupti omnis?
                        Doloremque quae dolores rem. Possimus esse enim reprehenderit! Praesentium nisi quod ea. Aliquam, odio quo? Molestiae fugit, placeat in eius est et tempora nesciunt exercitationem. Odio adipisci sequi optio amet!
                        Enim deserunt dolores, error libero recusandae quod quidem laboriosam nihil corrupti accusamus doloribus expedita qui soluta est neque nisi mollitia vero incidunt quibusdam sed perspiciatis deleniti quos! Laborum, nisi tenetur!
                        Cum iusto ab culpa eveniet facilis reiciendis quis quibusdam nostrum. Sed voluptatem optio inventore magnam, vel asperiores nemo quam natus adipisci voluptatum, enim possimus dolorem tempore laboriosam? Hic, consequuntur sit.



                    </div>
                    <div class="field">
                        <label class="label">Message</label>
                        <div class="control">
                          <textarea class="textarea" placeholder="Textarea"></textarea>
                        </div>
                    </div>

                    <div class="field is-grouped">
                        <div class="control">
                          <button class="button is-link">Send</button>
                        </div>
                    </div>
                    
                </div>
                <div class="column">
                    <h2 class="subtitle">Channels</h2>
                    <div id="greet">
                        <div id="create_username" class="field is-grouped">
                            <p class="control is-expanded">
                                <input id="new_username" class="input" type="text" placeholder="Insert ypur username">
                            </p>
                            <p class="control">
                                <button class="button is-primary">
                                    Create username
                                </button>
                            </p>
                        </div>
                    </div>
                    <form id="create_channel" class="field is-grouped">
                        <p class="control is-expanded">
                            <input id="channel" class="input" type="text" placeholder="Insert ypur username">
                        </p>
                        <p class="control">
                            <input type="submit" value="+" class="button is-primary">
                        </p>
                
                    </form>
                    <article id="ch_list" class="panel is-primary">
                        <p class="panel-heading">
                            Channel List
                        </p>
                        <a id="ch_panel" class="panel-block">
                            # minireset.css
                        </a>
                    </article>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>