<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flack beta</title>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</head>
<body>
    <div id="greet"></div>

    <br>

    <form id="create_channel">
        <input id="channel" type="text">
        <input type="submit">
    </form>
    
    {{ chList }}
</body>
</html>