<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flack beta</title>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Flack App</h1>

            <div class="columns">
                <div class="column is-two-thirds">
                    <h2 id="message"class="subtitle">Message on Channel</h2>
                    <div id="msg_area" class="field">
                    </div>
                    <div id="msgText" class="field">
                        <label class="label">Message</label>
                        <div class="control">
                          <textarea id="msg" class="textarea" placeholder="Type message.."></textarea>
                        </div>
                    </div>

                    <div class="field is-grouped">
                        <div class="control">
                          <button id="sendMsg" class="button is-link">Send</button>
                        </div>
                    </div>
                    
                </div>
                <div class="column">
                    <h2 class="subtitle">Channels</h2>
                    <div class="container">
                        
                    </div>
                    <div id="greet">
                    </div>
                    <form id="create_username" class="field is-grouped">
                        <p class="control is-expanded">
                            <input id="new_username" class="input" type="text" placeholder="Insert ypur username">
                        </p>
                        <p class="control">
                            <input type="submit" value="Create username" class="button is-primary">
                        </p>
                
                    </form>
                    <form id="create_channel" class="field is-grouped">
                        <p class="control is-expanded">
                            <input id="channel" class="input" type="text" placeholder="Add channel">
                        </p>
                        <p class="control">
                            <input type="submit" value="+" class="button is-primary">
                        </p>
                
                    </form>
                    <p class="subtitle">
                        Channel List
                    </p>
                    <div id="ch_list" class="buttons">
                        
                    </div>
                    <button id="delete_data">Delete data</button>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>