{% extends 'pizza/base.html' %}

{% block title %}
Cart
{% endblock %}

{% block body %}
<section class="section">
    <div class="container">
        <h1 class="title">Your order summary</h1>

        <div class="columns is-centered">
            <div class="column is-half">
                <form action="{% url 'payment' %}" method="post">
                    {% csrf_token %}
                    <h2 class="subtitle">Hi {{ user }}, this is your order</h2>
                    <div class="columns is-centered">
                        <div class="column">
                            <table class="table is-hoverable is-fullwidth">
                                <thead>
                                    <tr>
                                        <th>Items</th>
                                        <th>Quantity</th>
                                        <th>Price (USD)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in user_order %}
                                        {% if item.qty > 0 %}
                                            <tr>
                                                <td>{{ item.menu_name }}</td>
                                                <td>{{ item.qty }} x $ {{ item.item_price }}</td>
                                                <td id="items_price">{{ item.total_price }}</td>
                                            </tr>
                                        {% endif %}
                                        {% endfor %}
                                    
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>Total</td>
                                        <td></td>
                                        <td id="total_price_all"></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <br>
                    <div class="buttons">                        
                        
                        <a class="button is-success" href="{% url 'payment' %}">
                            <strong>Pay now</strong>
                        </a>
                    </div>
                
                </form>
                <br>
                <a href="{% url 'order' %}">Change order</a>
            </div>
        </div>
    </div>
    
</section>
<script>
    let price = document.querySelectorAll('#items_price');
    let total_price = 0;

    for (let value of price.values()) {
        total_price += parseFloat(value.innerHTML);
        console.log(value);
    };

    document.querySelector('#total_price_all').innerHTML = total_price.toFixed(2);;

    if (total_price == 0) {
        document.querySelector('#pay_button').disabled = true;
    }
    
</script>
{% endblock %}