{% extends 'pizza/base.html' %}

{% block title %}
Login
{% endblock %}

{% block body %}
<section class="section">
    <div class="columns is-centered">
        <div class="column is-one-quarter">
            <!-- TODO edit form style and handle error input on user registration (ex: wrong password input) -->
            <form action="" method="POST">
                {% csrf_token %}
                {% for message in messages %}
                    <p class="subtitle">{{ message }}</p>
                {% endfor %}
                <p class="subtitle">Login to your account</p>
                <div class="field">
                    <label class="label">Username</label>
                    <div class="control">
                        <input type="text" class="input" name="username">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Password</label>
                    <div class="control">
                        <input type="password" name="pass" id="pass" class="input">
                    </div>
                </div>
                
                <div class="buttons">
                    <input type="submit" value="Login" class="button is-success">
                </div>
                <!--<p class="subtitle is-danger">
                    {{ form.username.errors }}
                    {{ form.password1.errors }}
                    {{ form.password2.errors }}
                </p>
                <br>-->
                <p class="subtitle">Don't have account? <a href="{% url 'register' %}">Register</a></p>
                
            </form>
        </div>
    </div>
    
</section>

{% endblock %}