{% extends "pizza/base.html" %}

{% block title %}
Menu
{% endblock %}

{% block body %}
<section class="section">
    <div class="container">
        <h1 class="title">Menu</h1>
        <h2 id="pizza" class="subtitle">Pizza</h2>
        <p>{{ pizza }}</p>
        <h2 id="toppings" class="subtitle">Toppings</h2>
        <h2 id="salads" class="subtitle">Salads</h2>
        <h2 id="platters" class="subtitle">Platters</h2>
        <h2 id="pasta" class="subtitle">Pasta</h2>
    </div>
    
</section>
{% endblock %}