{% extends "pizza/base.html" %}

{% block title %}
Menu
{% endblock %}

{% block body %}
<section class="section">
    <div class="container">
        <h1 class="title">Menu</h1>
        <br>
        <div class="columns is-centered">
            <div class="column is-half">
                <h2 id="pizza" class="subtitle">Pizza</h2>
                <table class="table is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th>Menu</th>
                            <th>Type</th>
                            <th>Size</th>
                            <th>Price (USD)</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for item in menu %}
                            <tr>
                                <td>{{ item.menu_name }}</td>
                                <td>{{ item.menu_pizza_type}}</td>
                                <td>{{ item.size }}</td>
                                <td>{{ item.price }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
    
</section>
{% endblock %}