{% extends "pizza/base.html" %}

{% block title %}
Order
{% endblock %}

{% block body %}
<section class="section">
    <div class="container">
        <h1 class="title">Order</h1>
        <br>
        <div class="columns is-centered">
            <div class="column is-half">
                <form action="" method="POST">
                    {% csrf_token %}
                    <table class="table is-hoverable is-fullwidth">

                        <thead>
                            <tr>
                                <th>Menu</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for item in menu %}
                                <tr>
                                    <td>{{ item.menu_name }}</td>
                                    <td>{{ item.menu_pizza_type}}</td>
                                    <td>{{ item.size }}</td>
                                    <td>{{ item.price }}</td>
                                    <td>
                                        <input type="number" id="{{ item.menu_id }}" name="{{ item.menu_id }}" min="0" class="quantity">
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>

                        <tfoot>
                            <tr id="total_price">
                                <th>Total Price</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>

                            </tr>
                        </tfoot>
                    </table>
                    <div class="buttons">                        
                        <input type="submit" value="Add to cart" class="button is-success">
                    </div>
                </form>
            </div>
        </div>
        
    </div>
    
</section>
{% endblock %}