{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block main %}

<div class="container">
    <h1 class="title has-text-centered">Login Sys</h1>
    <h3 class="subtitle has-text-centered">Register here.</h3>
    <div class="columns is-centered">
        <div class="column is-half">
            <form action="/register" method="POST">
                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.fullname) }}
                {{ wtf.form_field(form.username) }}
                {{ wtf.form_field(form.password) }}
                <div class="field has-addons has-addons-centered">
                    <div class="control">
                        <button class="button is-primary">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}