{% extends 'mooc/base.html' %}

{% block title %}
Account
{% endblock %}

{% block body %}
<section class="section">
    <div class="container">
        
        <div class="columns is-centered">
            <div class="column is-half">
                <h1 class="title">Account Information</h1>
                <br>
                <h2 class="subtitle">
                    Hi {{ user }}
                </h2>
                <h2 class="subtitle">
                    Your name : {{ user.first_name }} {{ user.last_name }}
                    <br>
                    Your email : {{ user.email }}
                </h2>
            </div>
        </div>
    </div>
    
</section>
{% endblock %}