{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'mooc/main.css' %}">
    <script src="{% static 'mooc/main.js' %}"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'mooc/favicon.ico' %}"/>

</head>
<body>
    <head>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item" href="{% url 'index' %}">
                  <strong>SYNAU</strong>
              </a>
            </div>
          
            <div class="navbar-menu is-active">
              <div class="navbar-start is-dark">
                <a class="navbar-item" href="{% url 'index' %}">
                  Home
                </a>
          
                <a class="navbar-item" href="{% url 'cards' %}">
                  Cards
                </a>
          
                <a class="navbar-item" href="{% url 'learn' %}">
                    Learn
                </a>
                </div>
              </div>
          
              <div class="navbar-end">
                <div class="navbar-item">
                  <div class="buttons">
                    {% if user.is_authenticated %}
                      <a href="{% url 'account' %}" class="button">
                        <strong>Account</strong>
                      </a>
                      <a href="{% url 'logout' %}" class="button">
                        <strong>Logout</strong>
                      </a>
                    {% else %}
                      <a class="button is-dark" href="{% url 'register' %}">
                        <strong>Register</strong>
                      </a>
                      <a class="button is-dark" href="{% url 'login' %}">
                        <strong>Log in</strong>
                      </a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </nav>
    </head>
    {% block body %}
    {% endblock %}
    <footer class="footer">
      <div class="container">
          <div class="content has-text-centered">
              Planet Earth | 2020
              <br>
              <p>
                The website content
                is licensed under <a href="https://mit-license.org/" target="_blank">MIT license</a>.
              </p>
              <a href="https://bulma.io" class="content" target="_blank">
                <img src="https://bulma.io/images/made-with-bulma.png" alt="Made with Bulma" width="128" height="24">
              </a>
          </div>
      </div>
  </footer>
</body>
</html>