{% extends 'mooc/base.html' %}

{% block title %}
Cards
{% endblock %}

{% block body %}
<section class="section">
    <div class="container">
        <h1 class="title">Category</h1>
            <form action="add_category" method="POST">
                {% csrf_token %}
                <div class="field">
                    <label for="add_category" class="label">Add new category</label>
                    <div class="control">
                        <input type="text" class="input" name="add_category">
                    </div>
                </div>
                <div class="buttons">
                    <input type="submit" class="button" value="Add Category">
                </div>
            </form>
            <br>
        <h1 class="title">Cards</h1>
            
            <form action="add_card" method="POST">
                {% csrf_token %}
                <div class="field">
                    <label for="select_category" class="label">Select Category</label>
                    <select name="select_category" id="select_category">
                        {% for item in categories %}
                            {% if item.user == user %}
                                <option value="{{ item.category }}">{{ item.category }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="field">
                    <label for="card_question" class="label">Add Card Question</label>
                    <div class="control">
                        <input type="text" class="input" name="card_question">
                    </div>
                </div>

                <div class="field">
                    <label for="card_answer" class="label">Add Card Answer</label>
                    <div class="control">
                        <textarea class="textarea" placeholder="e.g. Hello world" name="card_answer"></textarea>
                    </div>
                </div>
                
                <div class="buttons">
                    <input type="submit" class="button" value="Add Card">
                </div>
            </form>

            <br>

            <h1 class="title">Delete Category</h1>
            <form action="delete_category" method="post">
                {% csrf_token %}
                
                    <div class="field">
                        <div class="control">
                            
                            <select name="delete_category" id="delete_category">
                                {% for item in categories %}
                                    {% if item.user == user %}
                                        <option value="{{ item.id }}">{{ item.category }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
    
                        </div>
                    </div>
                    
                <div class="buttons">
                    <input type="submit" class="button" value="Delete Category">
                </div>
            </form>
            <!-- #region 
            TODO
            Add category list
            Add cards list
            Delete category
            Delete card
            
            -->
            
    </div>
</section>
{% endblock %}  