button {
    color: #000000;
    background-color: yellow;
    margin: 2em;
    padding: 0.8em 2.2em 0.8em 2.2em;
    font-size: large;
    font-family: sans-serif;
    font-weight: bold;
    font: Sans;
    box-shadow: 0.5em 0.5em red;
    border: none;
    cursor: pointer;
}

button:active {
    box-shadow: 0.2em 0.2em black;
    transform: ;
}