.button {
    color: #000000;
    background-color: yellow;
    margin: 2em;
    padding: 0.8em 2.2em 0.8em 2.2em;
    font-size: large;
    font-family: sans-serif;
    font-weight: bold;
    font: Sans;
    box-shadow: 0.5em 0.5em red;
    border: none;
    cursor: pointer;
    transition: box-shadow 0.1s ease-in-out;
}

.button:hover {
    box-shadow: 0.2em 0.2em black;
    transition: box-shadow 0.1s ease-in-out;
    transform: translate(0.1em, 0.1em);
}

.button:active {
    background-color: black;
    color: white;
    box-shadow: none;
    transition: box-shadow 0.1s ease-in-out;
}