body {
    background-color: #D4DBE1;
}

.input-name {
    background-color: #BFC7CA;
    margin: 1em;
    border-radius: 0.5em;
}

.name:before {
    content: "Insert your user name";
    margin: 1em;
}

@media screen and (max-width: 768px){
    .name:before {
        content: "User name";
    }
}
