{% extends "layout.html" %}

{% block main %}
<section class="section">
    <div class="container">
        <h1 class="title">Hogwart Sorting Hat</h1>
        <img src="static/sorting-hat.jpg" alt="Sorting Hat">
        <h3>Enter your first name and last name. Let the Hat sorts you..</h3>
        <form action="">
            <div class="field">
                <label for="first-name" class="label">Your first name</label>
                <div class="control">
                    <input type="text" name="first-name" class="input">
                </div>
            </div>
            <div class="field">
                <label for="last-name" class="label">Your last name</label>
                <div class="control">
                    <input type="text" name="last-name" class="input">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button class="button is-primary">See your House</button>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}