{% extends "layout.html" %}

{% block main %}
<section class="section">
    <div class="container">
        <h1 class="title has-text-centered">Hogwart Sorting Hat</h1>
        <figure class="image container is-128x128">
            <img src="static/sorting-hat.jpg" alt="Sorting Hat">
        </figure>
        <h3 class="subtitle has-text-centered">Enter your first name and last name. Let the Hat sorts you..</h3>
        <div class="columns is-centered">
            <div class="column is-half">
                <form action="">
                    <div class="field">
                        <label for="first-name" class="label">Your first name</label>
                        <div class="control">
                            <input type="text" name="first-name" class="input">
                        </div>
                    </div>
                    <div class="field">
                        <label for="last-name" class="label">Your last name</label>
                        <div class="control">
                            <input type="text" name="last-name" class="input">
                        </div>
                    </div>
                    <div class="field has-addons has-addons-centered">
                        <div class="control">
                            <button class="button is-primary">See your House</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
</section>
{% endblock %}