<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta content="charset=utf-8">
        <title>Hogwarts Sorting Hat</title>
        <meta  name="Author" content="Bonaventura Sunu">
        <meta name="Description" content="Hogwarts Sorting Hat">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    </head>
    <body>
        {% block main %}
        {% endblock %}
    </body>
</html>