.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.container > div {
    padding: 20px;
    margin: 20px;
    text-align: center;
    background-color: lightpink;
    color: midnightblue;
    width: 200px;
    
}