$color: #FFD15E;
%fonts {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    color: #314d81;
}
%responsive-img {
    max-width: 100%;
    height: auto;
}

body {
    background-color: $color;
}

p {
    @extend %fonts;
    padding: 2px;
}

img {
    @extend %responsive-img;
    display: block;
    margin: auto;
}

h2 {
    color: #314d81;
    text-align: center;
}