{% extends "layout.html" %}

{% block heading %}
    <h2>Heyya World!</h2>
{% endblock %}

{% block main %}
    <p>Cillum aliqua exercitation labore eiusmod laboris excepteur magna velit labore aliqua amet. Amet incididunt Lorem sit et et eiusmod laborum occaecat esse magna voluptate officia ea pariatur. Eu eu elit excepteur in do eiusmod esse officia deserunt adipisicing ad Lorem consectetur. Culpa sit anim sunt amet duis deserunt pariatur fugiat. Id esse occaecat nostrud occaecat duis nostrud reprehenderit.</p>
{% endblock %}