body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

section {
    flex: 1;
}
.navbar {
    border-bottom: 2px solid black;
}

.navbar-item:hover {
    color: #E16120 !important;
}

#quantity {
  width: 60px;
}
